canvas {
	width: 800px;
	height: 600px;
	border: 5px solid black;
}
button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	display: block;
	width:150px;
}
